@import "tailwindcss";


body {
  overflow-y: auto;
  height: auto;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.92);
  }
}

.animate-fade-out {
  animation: fadeOut 1s ease-in-out forwards;
}

